@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
:root{
    --primary-color: #064E3B;
    --secondary-color: #A7F3D0;
    --third-color: #EE7136;
}

body{
    background-color: darkcyan;
    font-family: 'Merriweather',
    serif;
    margin: auto;
    max-width: fit-content;
}
