@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
:root{
    --primary-color: #e36414;
    --secondary-color: #0f4c5c;
    --third-color: #63458A;
}

body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Merriweather',
    serif;
   
  
}

h1,p{
   
    font-weight: medium;
    text-align: center;
}

.container{
     max-width: 300px;
     margin: auto;
   
}

input,label{
      display: block;
      font-weight: bold;
     
}
input{
    margin-bottom: 1rem;
    max-width: 600px;
    padding: 0.5rem;
    width: 100%;
}

#btn-check{
    margin-top: 1rem;
    margin: auto;
    background-color: transparent;
    color: var(--secondary-color);
    padding: 0.5rem;
    border-width: medium;
    border-radius: 0.4rem;
}


.notes{
    padding: 1rem 2rem;
    background-color: white;
}
th,td{
    margin: auto;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
}
.output{
 
    align-content: center;
}
/** footer**/
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}


.footer {
    background-color: var(--secondary-color);
    padding: 6rem 1rem;
    text-align: center;
    color: white;

}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: opx;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

